@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/* Navbar */

/*.rm-default.rm-desktop .selected,
.rm-default.rm-desktop .selected-parent,
.rm-default.rm-desktop .selected.selected-parent {
    color: black;
}

.rm-default.rm-mobile .selected,
.rm-default.rm-mobile .selected-parent,
.rm-default.rm-mobile .selected.selected-parent,
.rm-default.rm-mobile.rm-clicked .selected,
.rm-default.rm-mobile.rm-clicked .selected-parent,
.rm-default.rm-mobile.rm-clicked .selected.selected-parent {
    background-color: #333;
}*/

@media only screen and (max-width: 960px) {
    body {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 1em;
        overflow-x: hidden;
    }
}

html {
    background-image: url("../img/background.png");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
}

body {
    margin: auto;
    padding: 8px;
    max-width: 960px;
    font-family: "Arial";
    font-size: 16px;
    overflow-y: scroll;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

.figleft {
    float: left;
    margin-right: 10px;
}

.figright {
    float: right;
    margin-left: 10px;
}

.site-header {
    overflow: auto; /* clear fix to make div span all elements */
}

.transparent {
    background-image: url("../img/transparent2.png");
}

.navbar {
    text-align: center;
    max-width: 960px;
    padding-bottom: 13px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    font-family: "Abril Fatface";
}

.navbar a {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 1;
    text-shadow: 2px 2px 4px #000000;
}

.navbar a:link {
    color: #F7973D;
}

.navbar a:visited {
    color: #F7973D;
}

.navbar a:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #F7973D;
}

.navbar a:active {
    color: black;
    opacity: 0.7;
}

article {
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 0.1px;
    background-color: #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

article h1 {
    font-size: 40px;
}

article h1, h2, h3, h4 {
    font-family: "Abril Fatface";
}

a {
    text-decoration: none;
    color: #ff7b00;
}

a:link {
    color: #ff7b00;
}

a:visited {
    color: #ff7b00;
}

a:hover {
    color: #333;
}

.be-awesome {
    display: block;
    margin: auto;
    margin-top: 40px;
}

.oophp {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.site-footer {
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
